*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-size: 70px;
  background-color: aqua;
  
}
.section{
  background-color: lavenderblush;
  width: 430px;
  height: 730px;
  margin-top: 10px;
  justify-content: space-evenly;
  border:5px solid aqua ;


}
.top-div{
  color: red;
  background-color:lightpink;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  height: 50px;
justify-content: center;
}
.questionZone{
  margin-left: 20px;
}
.IconZone2{

  color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  height: 56px;
justify-content: start;
text-align: center;
margin-top: -10px;
font-family: 'Comforter', cursive;
font-family: 'Nanum Gothic', sans-serif;
}
.answer{
  text-align:  center;
  margin-left: 5rem;
}
h3{
  text-align: center;
  padding: 10px;
}



